<!doctype HTML>
{% include 'header.html' %}

<html>
    <title>Details</title>
    <body>
        {% include 'navbar.html' %}

        {% if error == True %}
            ERROR
        {% endif %}

        {% if success == True %}
            Successfully Added {{id.capitalize()}}
        {% endif %}
        
        <form action = {{"/add_%s"%id}} method = 'POST'>
            <table class = "table table-striped table-sm">
                {% for i in range(0,fields | length) %}
                    <tr>
                        <th scope="row">{{fields[i]}}</th>
                        <td>
                            <input class = "form-control"  name = "{{fields[i]}}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <center><button class = "btn btn-success" type="submit">Add {{id.capitalize()}}</button></center>
        </form>
    </body>
</html>