<!doctype HTML>
{% include 'header.html' %}

<html>
    <title>Feedback/Message to Admin</title>
    <body>
        {% include 'navbar.html' %}

        {% if error == True %}
            ERROR
        {% endif %}

        {% if success == True %}
            Successfully Sent Message/Feedback To Admin
        {% endif %}
        
        <form action = "/contact_admin" method = 'POST'>
            <table class = "table table-striped table-sm">
                        <tr>
                            <th scope="row">Message</th>
                            <td>
                                <textarea class = "form-control"  name = "message"></textarea>
                            </td>
                        </tr>
            </table>
            <center><button class = "btn btn-success" type="submit">Send Message</button></center>
        </form>
    </body>
</html>