<!DOCTYPE html>
{% include 'header.html' %}

<html>

<head>
	<title>Delete Room</title>
</head>

<body>
	{% include 'navbar.html' %}

	<form action="/del_room" method="POST" class="container">
		<div class="form-group">
			<label>Room No.</label>
			<input type="number" name="room_id" class="form-control">
		</div>
		<div class="form-group">
			<label>Hostel No.</label>
			<input type="number" name="hostel_id" class="form-control">
		</div>
		<button class="btn btn-primary" type="submit" style="width:24%;" name="delete">Delete Room</button>
	</form>
</body>

</html>