<!DOCTYPE html>
{% include 'header.html' %}

<html>

<head>
	<title>Search Room's Furniture</title>
</head>

<body>
	{% include 'navbar.html' %}

	<form action="/room_furniture" method='POST'>
		<table class="table table-striped table-sm">
			<tr>
				<th scope="row">Room No.</th>
				<td>
					<input class="form-control" name="room_id">
				</td>
			</tr>
			<tr>
				<th scope="row">Hostel No.</th>
				<td>
					<input class="form-control" name="hostel_id">
				</td>
			</tr>
		</table>
		<center><button class="btn btn-success" type="submit">Check Furniture</button></center>
	</form>
	<form action="/home" method='POST'>
		<button type="submit" width="20%">Back</button>
	</form>
</body>

</html>