<!DOCTYPE html>
{% include 'header.html' %}

<html>

<head>
	<title>Search Student Details</title>
</head>

<body>
	{% include 'navbar.html' %}
	
	<form action="/show_update_detail" method="POST" class="container">
		<div class = "form-group">
			<label>Roll No.</label>
			<input type="number" name="student_id" class="form-control">
		</div>
		<button class = "btn btn-primary" type="submit" style="width:24%;" name="show">See Student Details</button>
		<button class = "btn btn-primary" type="submit" style="width:24%;" name="update">Update Student Details</button>
		<button class = "btn btn-primary" type="submit" style="width:24%;" name="delete">Delete Student</button>
	</form>
	</body>
</html> 
